{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}Live demo for I Want To Read More{% endblock %}
{% block description %}Live demo of the vote statistics collected from the I Want To Read More blog.{% endblock %}
{% block image %}{{ SITEURL }}/images/live-demo-screenshot.jpg{% endblock %}
{% block url %}{{ SITEURL }}/demo{% endblock %}

<!-- prettier-ignore -->
{% block content %}

<div class="bg-gray-200 flex-grow">
    <div class="py-6 mx-auto flex flex-wrap text-gray-700 px-2 md:px-4">
        <div class="hidden lg:block pr-2 w-1/2">
            <div class="w-full xl:w-3/4 mx-auto mb-6 shadow bg-iyellow p-3 text-iyellow-dark rounded">
                <h2 class="font-bold mb-2 text-lg">This is how your blog will look like</h2>
                <p>
                    This is an example
                    <a class="link" target="_blank" href="blog/building-a-product-in-the-open/">article</a> from the I
                    Want To Read More blog that uses vote links inside the text. Click on one of the vote links and
                    reload the statistics on the right to see it in action.
                </p>
            </div>
            <div class="w-full shadow-lg bg-white rounded-lg overflow-y-scroll text-gray-700 max-h-screen">
                <article class="p-6">
                    <header>
                        <h1>
                            <a
                                href="{{ SITEURL }}/{{ articles[-1].url }}"
                                class="text-4xl font-bold"
                                rel="bookmark"
                                title="Permalink to {{ articles[-1].title|striptags }}"
                                >{{ articles[-1].title }}</a
                            >
                        </h1>
                        <p class="text-gray-500">
                            {{ articles[-1].locale_date }} by
                            <a class="link" href="{{ SITEURL }}">{{ AUTHOR }}</a>
                        </p>
                    </header>

                    <div class="markdown">{{ articles[-1].content }}</div>
                </article>
            </div>
        </div>
        <div class="w-full md:w-3/4 lg:w-1/2 lg:pl-2 mx-auto">
            <div class="hidden lg:block w-full xl:w-3/4 mx-auto mb-6 shadow bg-iyellow p-3 text-iyellow-dark rounded">
                <h2 class="font-bold mb-2 text-lg">This is how your statistics will look like</h2>
                <p>
                    The dashboard will show you all topics that you are currently tracking, the vote counts and the last
                    time somebody voted. Here you see the live stats for the I Want To Read Mote
                    <a class="link" target="_blank" href="blog/building-a-product-in-the-open/">blog</a>.
                </p>
            </div>
            <div class="lg:hidden w-full mb-6 shadow bg-iyellow p-3 text-iyellow-dark rounded">
                <h2 class="font-bold mb-2 text-lg">This is how your statistics will look like</h2>
                <p>
                    The dashboard will show you the votes for all tracked topics. You see the live stats for the I Want
                    To Read More
                    <a class="link" target="_blank" href="blog/">blog</a>. Check out
                    <a class="link" target="_blank" href="blog/building-a-product-in-the-open/">this article</a> or
                    click this voting link {{ vote("haltakov","iwanttoreadmore","example") }} as an example.
                </p>
            </div>
            <div
                class="w-full xl:w-4/5 mx-auto mt-6 px-2 md:px-5 pb-2 pt-8 md:pt-4 bg-white rounded-lg shadow-lg relative"
            >
                <h3 class="text-md font-bold text-center"></h3>
                <button class="reload-button absolute right-0 top-0 mr-2 mt-2 animate-spin">
                    {{ icons.reload("w-4") }}
                </button>
                <table class="w-full mt-6" id="template-table">
                    <thead>
                        <tr>
                            <th scope="col" class="pb-3 text-left">Topic <button class="link text-sm">▼</button></th>
                            <th scope="col" class="pb-3 text-right">Votes <button class="link text-sm">▼</button></th>
                            <th scope="col" class="pb-3 text-center">
                                Last Vote <button class="link text-sm">▼</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3" class="text-center h-64">{{ icons.dots("animate-pulse w-16 mx-auto") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/stats.js"></script>
<script>
    if (document.readyState !== "loading") {
        loadVotes("haltakov", "iwanttoreadmore");
    } else {
        document.addEventListener("DOMContentLoaded", () => {
            loadVotes("haltakov", "iwanttoreadmore");
        });
    }
</script>
{% endblock %}
