<!-- prettier-ignore -->
{% extends "base.html" %} 
{% set hide_navbar = true %}
{% set footer = true %}

<!-- prettier-ignore -->
{% block content %}
<div class="bg-gray-200 flex-grow p-3">
    <div
        class="w-full sm:w-1/2 lg:w-1/3 mx-auto bg-white text-gray-700 rounded-lg shadow-lg my-8 lg:my-24 text-center px-4 pt-8 pb-4"
    >
        <h2 class="font-bold text-2xl">Thank you for voting!</h2>
        <p id="voted-message" class="mt-5 text-lg">You will be able to read more on this topic in the future!</p>
        <small class="mt-6 block text-right"
            >Powered by
            <a href="https://iwanttoreadmore.com" class="link" target="_blank" rel="noopener"
                >iwanttoreadmore.com</a
            ></small
        >
    </div>
</div>
{% endblock content %}

<!-- prettier-ignore -->
{% block scripts %}
<script>
    function init() {
        // Relace the voted message if specified
        const params = new URLSearchParams(window.location.search);
        if (params.get("message"))
            document.getElementById("voted-message").innerHTML = decodeURI(params.get("message"));
    }

    if (document.readyState !== "loading") {
        init();
    } else {
        document.addEventListener("DOMContentLoaded", init);
    }
</script>
{% endblock scripts %}
