{% extends "base.html" %}

<!-- prettier-ignore -->
{% block extra_head -%}
<style>
    body {
        background: #eee;
    }
</style>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-6 mb-5 rounded shadow-sm p-4 bg-white">
            <h2>Thank you for subscribing! Please confirm your e-mail!</h2>
            <p class="mt-5">
                Please check your mailbox and confirm your e-mail. Make sure to check your spam folder as well.
            </p>
            <p class="mt-5 text-green"><i class="fas fa-check-circle fa-3x"></i></p>
        </div>
    </div>
</div>
{% endblock content %}
