/* General classes relevant for all pages */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    background: #fff;
}

a {
    color: #1a7cbd;
    font-weight: bold;
}

a:hover {
    color: #45b4ff;
}

.image-500 {
    max-width: 500px;
    width: 95%;
}

.image-750 {
    max-width: 750px;
    width: 95%;
}

/* Navigation bar */
.navbar {
    font-variant: small-caps;
}

.navbar a:hover {
    text-decoration: none;
}

.logo {
    width: 36px;
    height: 36px;
}

code {
    color: #333;
    font-size: 80%;
}

/* Footer */

.site-footer {
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.icon-link {
    color: #212529;
}

.icon-link:hover {
    color: #45b4ff;
}

/* Color definitions */

.text-muted {
    color: #999 !important;
}

.btn-blue {
    color: #ffffff;
    background-color: #1a7cbd;
    border-color: #1a7cbd;
}

.btn-blue:hover {
    color: #ffffff;
    background-color: #45b4ff;
    border-color: #45b4ff;
}

.btn-outline-blue {
    color: #1a7cbd;
    border-color: #1a7cbd;
}

.btn-outline-blue:hover {
    color: #ffffff;
    background-color: #45b4ff;
    border-color: #45b4ff;
}

.bg-blue {
    background-color: #184766;
}

.bg-yellow {
    background-color: #f7f2df;
}

.text-green {
    color: #07b541;
}

.text-red {
    color: #b50707;
}

.blog-post-title:hover {
    text-decoration: none;
}

/* Start page */

.site-header {
    background: url(../images/header-background.jpg);
    background-size: cover;
    background-position: center 30%;
}

.blog-examples {
    font-size: 1.5rem;
    line-height: 1.2;
}

/* Statistics page */

.reload {
    color: #000;
    opacity: 0.5;
    font-size: 0.8em;
    position: absolute;
    right: 0px;
    top: 5px;
    border: 0px;
    background: none;
}

/* I Want To Read More definitions */

.vote-link {
    fill: #1a7cbd;
}

.vote-link:hover {
    fill: #45b4ff;
}

.toast {
    position: absolute;
    top: 20px;
    right: 20px;
}
