{% extends "base.html" %}

<!-- prettier-ignore -->
{% block content %}
<div class="bg-gray-200 flex-grow p-3">
    <div
        class="w-full sm:w-1/2 lg:w-2/5 mx-auto bg-white text-gray-700 rounded-lg shadow-lg my-8 lg:my-24 text-center p-8"
    >
        <h2 class="font-bold text-xl lg:text-2xl">Welcome to I Want To Read More</h2>

        <div
            id="login-form-error-message"
            class="inline-block mx-auto mt-5 p-3 border border-red-300 bg-red-200 rounded hidden"
        >
            Wrong username or password
        </div>

        <form id="login-form" name="login-form">
            <div class="mt-8 w-full lg:w-3/4 xl:w-1/2 mx-auto">
                <input
                    class="w-full bg-gray-100 text-primary-700 rounded-lg border border-gray-400 focus:outline-none focus:border-primary-500 text-base px-4 py-2 focus:bg-white text-gray-700"
                    placeholder="E-Mail or Username"
                    type="text"
                    value=""
                    name="identifier"
                    id="identifier"
                    aria-label="Email or Username"
                />
                <input
                    class="w-full mt-4 bg-gray-100 text-primary-700 rounded-lg border border-gray-400 focus:outline-none focus:border-primary-500 text-base px-4 py-2 focus:bg-white text-gray-700"
                    placeholder="Password"
                    type="password"
                    value=""
                    name="password"
                    id="password"
                    aria-label="Password"
                />
                <button
                    type="submit"
                    id="login-form-submit-button"
                    class="button-orange w-32 mt-6 mx-2 mx-auto lg:mx-2"
                >
                    <span>{{ icons.loading("w-5 mr-2 inline animate-spin hidden") }}</span> Sign In
                </button>
            </div>
        </form>

        <div class="mt-8 justify-evenly flex">
            <a class="link" href="{{ SITEURL }}/#subscribe">Create account</a>
            <a class="link" href="{{ SITEURL }}/#subscribe">Forgot password</a>
        </div>
    </div>
</div>

<script>
    const loginForm = document.getElementById("login-form");

    loginForm.onsubmit = () => {
        let submitButton = document.getElementById("login-form-submit-button");
        submitButton.classList.remove("button-orange");
        submitButton.classList.add("button-disabled");
        submitButton.getElementsByTagName("svg")[0].classList.remove("hidden");

        let formContent = `identifier=${document.getElementById("identifier").value};password=${
            document.getElementById("password").value
        }`;

        fetch("https://iwanttoreadmore.com/user/login", {
            method: "POST",
            mode: "cors",
            credentials: "same-origin",
            body: formContent,
        }).then((response) => {
            if (response.ok) document.location = "/demo";
            else {
                document.getElementById("login-form-error-message").classList.remove("hidden");
                submitButton.classList.add("button-orange");
                submitButton.classList.remove("button-disabled");
                submitButton.getElementsByTagName("svg")[0].classList.add("hidden");
            }
        });

        return false;
    };
</script>
{% endblock content %}
