{% extends "base.html" %}

<!-- prettier-ignore -->
{% block content %}
<div class="bg-gray-200 flex-grow p-3 pb-6">
    <section
        id="settings-panel-loading"
        class="w-full sm:w-1/2 lg:w-2/5 mx-auto bg-white text-gray-700 rounded-lg shadow-lg mt-4 lg:mt-8 text-center px-6 pt-4 pb-6"
    >
        <div class="my-24">{{ icons.dots("animate-pulse w-16 mx-auto") }}</div>
    </section>

    <div id="settings-panel" class="hidden">
        <!-- Intro -->
        <section
            class="w-full sm:w-1/2 lg:w-2/5 mx-auto bg-white text-gray-700 rounded-lg shadow-lg mt-4 lg:mt-8 text-center px-6 pt-4 pb-6"
        >
            <h2 class="font-bold text-xl lg:text-2xl">User settings</h2>

            <p class="mt-2 text-left">
                We are still in early beta, so don't hesitate to get in touch directly if you are missing an important
                feature or need help:
                <a class="link" href="mailto:vladimir@iwanttoreadmore.com">vladimir@iwanttoreadmore.com</a>
            </p>
        </section>

        <!-- Public account option -->
        <section
            class="w-full sm:w-1/2 lg:w-2/5 mx-auto bg-white text-gray-700 rounded-lg shadow-lg mt-4 lg:mt-8 text-center px-6 pt-4 pb-6"
        >
            <h2 class="font-bold text-xl lg:text-2xl">
                Public dashboard
                <a class="details-link" href="#">{{ icons.question("w-4 inline text-gray-500 mb-1 ml-2") }}</a>
            </h2>

            <p class="mt-2 text-left details-text hidden">
                Enabling this option will make your dashboard publicly visible to everybody. If the option is disabled,
                only you will be able to see your dashboard after login.
            </p>
            <div class="mt-5">
                <label
                    ><input
                        id="account-public"
                        name="account-public"
                        type="checkbox"
                        class="focus:ring-iblue h-5 w-5 text-iblue border-gray-300 rounded"
                    />
                    Make statistics publically visible</label
                >
            </div>
        </section>

        <!-- Change voted message or redirect -->
        <section
            class="w-full sm:w-1/2 lg:w-2/5 mx-auto bg-white text-gray-700 rounded-lg shadow-lg mt-4 lg:mt-8 text-center px-6 pt-4 pb-6"
        >
            <h2 class="font-bold text-xl lg:text-2xl">
                Configure voted message
                <a class="details-link" href="#">{{ icons.question("w-4 inline text-gray-500 mb-1 ml-2") }}</a>
            </h2>

            <p class="mt-2 text-left details-text hidden">
                If you are using direct voting links, instead of the JS library, you can configure the message that
                appears on the page after a user votes. Alternatively, you can configure a page to which the user will
                be redirected after voting.
            </p>

            <div id="voted-flash" class="inline-block mx-auto mt-5 p-3 border rounded hidden"></div>

            <div class="mt-5">
                <form id="change-voted-message-form" name="change-voted-message-form" autocomplete="off">
                    <div class="w-full lg:w-3/4 mx-auto">
                        <label class="text-left block">
                            <strong class="font-bold mr-2">Redirect URL</strong>
                            <span class="text-gray-600 text-sm">user redirected here after voting</span>
                            <input
                                class="w-full bg-gray-100 text-primary-700 rounded-lg border border-gray-400 focus:outline-none focus:border-primary-500 text-base px-4 py-2 focus:bg-white text-gray-700"
                                placeholder="https://example.com"
                                type="url"
                                value=""
                                name="voted_redirect"
                                id="voted_redirect"
                                aria-label="Voted Redirect"
                                pattern="https://.*"
                        /></label>
                        <label class="text-left block mt-3">
                            <strong class="font-bold mr-2">Voted message</strong>
                            <span class="text-gray-600 text-sm">displayed after voting</span>
                            <input
                                class="w-full bg-gray-100 text-primary-700 rounded-lg border border-gray-400 focus:outline-none focus:border-primary-500 text-base px-4 py-2 focus:bg-white text-gray-700"
                                placeholder="Message text..."
                                type="text"
                                value=""
                                name="voted_message"
                                id="voted_message"
                                aria-label="Voted Message"
                                pattern="[a-zA-Z0-9\.\-_+\(\)*^%$#@!,/\\\[\]\{\}\? ]{0,500}"
                            />
                        </label>
                        <button type="submit" class="button-blue w-48 mt-6 mx-2">Change message</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- Change password -->
        <section
            class="w-full sm:w-1/2 lg:w-2/5 mx-auto bg-white text-gray-700 rounded-lg shadow-lg mt-4 lg:mt-8 text-center px-6 pt-4 pb-6"
        >
            <h2 class="font-bold text-xl lg:text-2xl">
                Change password
                <a class="details-link" href="#">{{ icons.question("w-4 inline text-gray-500 mb-1 ml-2") }}</a>
            </h2>

            <p class="mt-2 text-left details-text hidden">
                The new password should be between 4 and 100 characters and may contain any of the following characters:
                letters (<span class="font-mono text-sm">a-z</span>, <span class="font-mono text-sm">A-Z</span>), digits
                (<span class="font-mono text-sm">0-9</span>), special characters (<span class="font-mono text-sm"
                    >!@#$%^&*-_.,+=</span
                >).
            </p>

            <div id="password-flash" class="inline-block mx-auto mt-5 p-3 border rounded hidden"></div>

            <div class="mt-5">
                <form id="change-password-form" name="change-password-form" autocomplete="off">
                    <div class="w-full lg:w-3/4 xl:w-1/2 mx-auto">
                        <input
                            class="w-full bg-gray-100 text-primary-700 rounded-lg border border-gray-400 focus:outline-none focus:border-primary-500 text-base px-4 py-2 focus:bg-white text-gray-700"
                            placeholder="Password"
                            type="password"
                            value=""
                            name="newpassword"
                            id="newpassword"
                            aria-label="Password"
                            required
                            pattern="[a-zA-Z0-9!@#$%^&\*\-_\.,+=]{4,100}"
                        />
                        <input
                            class="w-full mt-2 bg-gray-100 text-primary-700 rounded-lg border border-gray-400 focus:outline-none focus:border-primary-500 text-base px-4 py-2 focus:bg-white text-gray-700"
                            placeholder="Repeat Password"
                            type="password"
                            value=""
                            name="newpassword2"
                            id="newpassword2"
                            aria-label="Repeat Password"
                            required
                            pattern="[a-zA-Z0-9!@#$%^&\*\-_\.,+=]{4,100}"
                        />
                        <button type="submit" class="button-blue w-48 mt-6 mx-2">Change Password</button>
                    </div>
                </form>
            </div>
        </section>

        <div class="sm:hidden text-center mt-6">
            <a class="button-white" id="logout-button-settings" href="{{ SITEURL }}/user/logout">Logout</a>
        </div>
    </div>
</div>
{% endblock content %}

<!-- prettier-ignore -->
{% block scripts %}
<script>
    function loadUserData() {
        fetch("/user/data", {
            method: "GET",
            mode: "cors",
            credentials: "same-origin",
        })
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                if (Object.keys(data).length > 0) {
                    document.getElementById("account-public").checked = data["is_public"];
                    document.getElementById("voted_message").value = data["voted_message"];
                    document.getElementById("voted_redirect").value = data["voted_redirect"];
                    document.getElementById("settings-panel").classList.remove("hidden");
                    document.getElementById("settings-panel-loading").classList.add("hidden");
                } else document.location = "/login";
            })
            .catch((error) => (document.location = "/login"));
    }

    function initPublicAccountCheckbox() {
        const publicCheckbox = document.getElementById("account-public");
        publicCheckbox.addEventListener("change", () => {
            fetch("/user/changepublic", {
                method: "POST",
                mode: "cors",
                credentials: "same-origin",
                body: publicCheckbox.checked ? 1 : 0,
            });
        });
    }

    function init() {
        // Check if user is logged in and fill the user data
        loadUserData();

        // Initialize the action of the public account checkbox
        initPublicAccountCheckbox();

        // Init the logout button
        const logoutButton = document.getElementById("logout-button-settings");
        if (logoutButton) {
            logoutButton.addEventListener("click", () => {
                document.cookie = "loggedinuser=; Path=/; Max-Age=-99999999;";
                document.location = logoutButton.href;
            });
        }

        // Init the change password form
        initAjaxForm(
            "change-password-form",
            "/user/changepassword",
            (response, flash) => {
                if (response.ok) {
                    displaySuccess(flash, "Password changed");
                } else {
                    response.text().then((text) => displayError(flash, text));
                }
            },
            "password-flash"
        );

        // Init the change voted message form
        initAjaxForm(
            "change-voted-message-form",
            "/user/changevoted",
            (response, flash) => {
                if (response.ok) {
                    displaySuccess(flash, "Voted message and redirect changed");
                } else {
                    response.text().then((text) => displayError(flash, text));
                }
            },
            "voted-flash"
        );

        // Init details buttons
        document.querySelectorAll(".details-link").forEach((element) =>
            element.addEventListener("click", () => {
                const details = element.parentNode.parentNode.querySelector(".details-text");
                if (details.classList.contains("hidden")) details.classList.remove("hidden");
                else details.classList.add("hidden");
            })
        );
    }

    if (document.readyState !== "loading") {
        init();
    } else {
        document.addEventListener("DOMContentLoaded", init);
    }
</script>
{% endblock scripts %}
