{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}User Statistics for I Want To Read More votes{% endblock %}
{% block description %}This page shows the live user statistics.{% endblock %}
{% block image %}{{ SITEURL }}/images/live-demo-screenshot.jpg{% endblock %}
{% block url %}{{ SITEURL }}/stats{% endblock %}

<!-- prettier-ignore -->
{% block content %}

<div class="bg-gray-200 flex-grow">
    <div class="py-6 mx-auto flex flex-wrap text-gray-700 px-2 md:px-4">
        <div class="w-full md:w-3/4 lg:w-1/2 lg:pl-2 mx-auto">
            <div
                id="no-user-found-message"
                class="w-full xl:w-4/5 mx-auto bg-white text-gray-700 rounded-lg shadow-lg my-8 lg:my-24 text-center p-8 hidden"
            >
                <h2 class="font-bold text-2xl">User not found</h2>
                <p class="mt-5 text-lg">This user either doesn't exist or hasn't made their statistics public.</p>
                <p class="mt-5 text-orange-600">{{ icons.ban("w-12 mx-auto") }}</p>
            </div>

            <div
                id="no-votes-message"
                class="w-full xl:w-4/5 mx-auto bg-white text-gray-700 rounded-lg shadow-lg my-8 lg:my-24 text-center p-8 hidden"
            >
                <h2 class="font-bold text-2xl">You don't have any votes yet</h2>
                <p class="mt-5 text-lg">
                    Check out the <a class="link" href="{{ SITEURL }}/docs/getting-started">documentation</a> to learn
                    how to add vote links to your website. As soon as somebody votes for one of your topics, the
                    statistics will apprear here.
                </p>
                <p class="mt-5 link">
                    <a href="{{ SITEURL }}/docs/getting-started">{{ icons.empty_doc("w-12 mx-auto") }}</a>
                </p>
            </div>

            <div
                class="w-full xl:w-4/5 mx-auto mt-6 px-2 md:px-5 pb-2 pt-8 md:pt-4 bg-white rounded-lg shadow-lg relative"
            >
                <h3 class="text-md font-bold text-center"></h3>

                <button class="reload-button absolute right-0 top-0 mr-2 mt-2 animate-spin">
                    {{ icons.reload("w-4") }}
                </button>
                <table class="w-full mt-6" id="template-table">
                    <thead>
                        <tr>
                            <th scope="col" class="pb-3 text-left">Topic <button class="link text-sm">▼</button></th>
                            <th scope="col" class="pb-3 text-right">Votes <button class="link text-sm">▼</button></th>
                            <th scope="col" class="pb-3 text-center">
                                Last Vote <button class="link text-sm">▼</button>
                            </th>
                            <th scope="col" class="">
                                <div class="hidden rounded-b-none rounded-t-none hover:bg-gray-200 border-t-0"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3" class="text-center h-64">{{ icons.dots("animate-pulse w-16 mx-auto") }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="hidden flex justify-around mt-5 text-sm">
                    <div class="text-center">
                        <button class="show-hidden-link link">Show hidden topics</button>
                        <button class="hide-hidden-link link hidden">Hide hidden topics</button>
                    </div>
                    <div class="text-center">
                        <label class="leading-8">
                            <input
                                type="checkbox"
                                class="pt-2 single-voting-project-checkbox focus:ring-iblue h-5 w-5 text-iblue border-gray-300 rounded"
                            />
                            <span
                                class="hidden sm:inline"
                                title="If enabled, the your readers will be allowed to vote only for a single topic in this project."
                            >
                                Allow voting for a single topics only
                            </span>
                            <span
                                class="sm:hidden"
                                title="If enabled, the your readers will be allowed to vote only for a single topic in this project."
                            >
                                Single topic voting</span
                            >
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- prettier-ignore -->
{% block scripts %}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/stats.js"></script>
<script>
    function initStats() {
        const user = String(window.location).split("/").pop().split("#")[0].split("?")[0];
        loadVotes(user);
    }

    if (document.readyState !== "loading") {
        initStats();
    } else {
        document.addEventListener("DOMContentLoaded", initStats);
    }
</script>
{% endblock scripts %}
